<?xml version= "1.0"?>
<configuration>
    <configSections>
        <section name="WebClientUtilsSettings" type="WebClientUtils.WebClientSettingsConfigSection, WebClientUtils, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
    </configSections>
    <appSettings>
        <!-- For SM Cookie-COOKIE_SERVICE_TYPE 0 For SAML Cookie-COOKIE_SERVICE_TYPE 1 -->
        <add key="COOKIE_SERVICE_TYPE" value="0"/>
    </appSettings>
    <system.net>
        <defaultProxy useDefaultCredentials-"true"/>
        <authenticationModules>
            <add type="System.Net.NegotiateClient"/>
            <add type="System.Net.KerberosClient"/>
            <add type="System. Net.NtlmClient"/>
        </authenticationModules>
        <settings>
            <httpwebRequest useUnsafeleaderParsing="true"/>
        </settings>
    </system.net>
    <system.serviceModel>
        <bindings>
            <basichttpBinding>
            <!-- In the binding element 'allowCookies' attribute must be false -->
                <binding name="MyBinding" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:10:00" allowCookies="false" bypassProxyOnLocal="true" 
                    hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxReceiveMessageSize="2147483647" messageEncoding="Text"
                    textEncoding="utf-8" useDefaultWebProxy="true" >
                <readerQuotas maxDepth="32" maxStringContentLength="2147483647" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
                <security mode="None">
                    <transport clientCredentialType="Ntlm" proxyCredentialType="Windows" realm=""/>
                    <nessage clientCredentialType="Userlame" algorithmSuite="Default"/>
                </security>
                </binding>
            </basichttpBinding>
        </bindings>
        <client>
        <!--
        behaviorConfiguration Attribute id added to all the 'endpoint' Elements to add cookie expected by 
        Siteminder or SAML protected Resources to the message 
        -->
           <endpoint address="http://localhost/base"
                        behaviorConfiguration="clientMessageInspectorBehavior" 
                        binding="basicHttpBinding" 
                        bindingConfiguration="MyBinding" 
                        contract="BasePortType" 
                        name="BasePort"/>
            <endpoint address="http://localhost/assessments"
                        behaviorConfiguration="clientMessageInspectorBehavior"
                        binding="basicHttpBinding" 
                        bindingConfiguration="MyBinding" 
                        contract="AssessmentsPortType" 
                        name="AssessmentsPort"/>
            <endpoint address="http://localhost/issues"
                        behaviorConfiguration="clientMessageInspectorßehavior"
                        binding="basicHttpBinding" 
                        bindingConfiguration="MyBinding" 
                        contract="IssuesPortType" 
                        name="ISsuesPort"/>
        </client>
        <extensions>
            <behaviorExtensions>
            <!--This extension adds a MessageInspector which in turn adds the required SM cookie to the MessageHeaders -->
                <add name="SMEndpointBehaviorExtensionElement" type="WebClientUtils.EndpointBehaviorExtensionElement, WebClientUtils, Version=1.0.0.0 Culture=neutral, PublicKeyToken=null" />

            </behaviorExtensions>
        </extensions>
        <behaviors> 
            <endpointBehaviors>
                <behavior name="clientMessageInspectorBehavior">
                    <SMEndpointBehaviorExtensionElement/>
                </behavior>
            </endpointBehavlors>
        </behaviors>
    </system.serviceModel>
    <WebClientUtilsSettings>
        <EndpointPropertiesCollection>
            <!-- One entry each for every Endpoint defined in the client section. Name of the key is 'SiteMinderCookieName' -->
            <EndpointProperties name="BasePortType">
                <!-- Name of the Cookie Expected from the SiteMinder server --> 
                <add key="SiteMinderCookieName" value="SMSESSION"/>
                <!-- SM Cookie Timeout for the application given in Minutes --> 
                <add key "SiteMinderCookieTimeout" value="55"/>
            </EndpointProperties>
            <EndpointProperties name="AssessmentsPortType">
                <!-- Name of the Cookie Expected from the SiteMinder server --> 
                <add key="SiteMinderCookieName" value="SMSESSION"/>
                <!-- SM Cookie Timeout for the application given in Minutes --> 
                <add key "SiteMinderCookieTimeout" value="55"/>
            </EndpointProperties>
            <EndpointProperties name="IssuesPortType">
                <!-- Name of the Cookie Expected from the SiteMinder server --> 
                <add key="SiteMinderCookieName" value="SMSESSION"/>
                <!-- SM Cookie Timeout for the application given in Minutes --> 
                <add key "SiteMinderCookieTimeout" value="55"/>
            </EndpointProperties>
        </EndpointPropertiesCollection>
    </WebClientUtilsSettings>

    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework, Version=4.0"/>
    </startup>
</configuration>
